{% extends 'base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block body %}
<h1>Taches</h1>
<ul>
    {% for tache in taches %}
        <li>{{ tache.titre|e }}</li>
    {% endfor %}
</ul>
<a href="http://localhost:8000/addtaches">addTaches</a>
{% endblock %}